@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
body{
  background-color: #333;
}
i {
	margin-right: 10px;
}/* ---------horizontal-navbar-menu-----------*/
#navbar-animmenu {
  background: #DDE1E7;
  float: right;
  overflow: hidden;
  position: relative;
  padding: 10px 0px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  white-space: nowrap;
}
#navbar-animmenu ul{
	padding: 0px;
	margin: 0px;
  
}

#navbar-animmenu ul li a i{
	margin-right: 10px;
}

#navbar-animmenu li {
	list-style-type: none;
	float: right;
}

#navbar-animmenu ul li a{
    color: #333;
    text-decoration: none;
    font-size: 15px;
    line-height: 45px;
    display: block;
    padding: 0px 20px;
    position: relative;
}

#navbar-animmenu>ul>li.active>a{
	color: #DDE1E7;
	background-color: transparent;
}


#navbar-animmenu a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10%;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
}

#navbar-animmenu .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 10px;
	left: 0px;
	background-color: #333;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #333;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DDE1E7;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}
.logo{
  width: 3%;
  float: left;
  margin-left: 15px;
}
.profile{
  width: 55%;
}
.video{
  padding-top: 15px;
  width: 95%;
}
h2{
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
h4{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
}
.bio{
  text-align: center;
}
.media a{
font-size: 30px;
color: #333;
}
@media only screen and (max-width:760px){
#navbar-animmenu {
	background: #DDE1E7;
	float: right;
	overflow: hidden;
	position: relative;
	padding: 10px 0px;
    width: 100%;
  font-family: "Open Sans", sans-serif;
  white-space: nowrap;
}
#navbar-animmenu ul{
	padding: 0px;
	margin: 5px;
  
}

#navbar-animmenu ul li a i{
	margin-right: 5px;
	size: 5px;
}

#navbar-animmenu li {
	list-style-type: none;
	float: right;
}

#navbar-animmenu ul li a{
  	color: #333;
    text-decoration: none;
    font-size: 13px;
    line-height: 32px;
    display: block;
    padding: 0px 5px;
    position: relative;
}

#navbar-animmenu>ul>li.active>a{
	color: #DDE1E7;
	background-color: transparent;
}


#navbar-animmenu a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10%;
	font-size: 14px;
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
}

#navbar-animmenu .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 10px;
	left: 0px;
	background-color: #333;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #333;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DDE1E7;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}
.logo{
  width: 5%;
  margin-left: 15px;
  padding-top: 5px;
  z-index: 1;
  display: none;
}
.profile{
  padding-top: 15px;
  width: 55%;
}
h2{
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
h4{
  font-weight: lighter;
  white-space: nowrap;
  font-size: 9px;
}
.bio h2 h4{
  margin-left: auto;
  margin-right: auto;
}
}
